.filmBox {
  display: flex;
  margin-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid black;
}

.filmInfo {
  width: 500px;
}

.poster {
  width: 375px;
  margin-right: 50px;
}


/* Additional Information */

.addInfo {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.addInfoTitle {
  margin-top: 0;
}

.addInfoList {
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  color: #1976d2;
}


/* Genre styles */

.genre {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid black;
}
.genre:first-child {
  padding-left: 0;
}
.genre:last-child {
  border: none;
}