.filmBox {
  display: flex;
  margin-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid black;
}

.filmInfo {
  width: 500px;
}

.addInfo {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.addInfoTitle {
  margin-top: 0;
}

.addInfoList {
  margin-bottom: 0;
}

.poster {
  width: 375px;
  margin-right: 50px;
}