.addInfo {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid black;

  &_title {
    margin-bottom: 20px;
  }

  &_list {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  &_cast {
    margin-right: 20px;
  }

  &_link {
    text-decoration: none;
    color: black;

    &:hover {
      color: #1976d2;
    }
  }
}