.actorsList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;

  &_image {
    display: block;
    width: 100%;
  }

  &_card {
    margin: 15px;
    width: calc((100% - 150px) / 6);
  }
  &_card:nth-child(6n+1) {
    margin-left: 0;
  }
  &_card:nth-child(6n) {
    margin-right: 0;
  }

  &_charName {
    text-align: center;
    margin: 10px 0 0 0;
  }

  &_actorName {
    text-align: center;
    margin: 10px 0 0 0;
  }
}
