.actorsList {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;

  &_image {
    display: block;
    width: 100%;
  }

  &_card {
    margin: 15px;
    width: calc((100% - 150px) / 6);
    text-decoration: none;
    color: black;
  }
  &_card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  &_card:nth-child(6n+1) {
    margin-left: 0;
  }
  &_card:nth-child(6n) {
    margin-right: 0;
  }

  &_charName,
  &_actorName {
    text-align: center;
    margin: 10px 0 0 0;
  }
}
