.filmBox {
  display: flex;
}

.poster-wrapper {
  margin-right: 50px;
}

.mainInfo {
  width: 640px;
  display: flex;
  flex-direction: column;

  &_link {
    text-decoration: none;
    color: black;
  }
}

.film-card {
  &__title {
    margin-top: 0;
  }
}

.link-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;
  margin-top: auto;

  &__item {
    margin-right: 20px;
  }
}

.filmPoster {
  display: block;
  width: 375px;
}
/* Genre styles */

.genre {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid black;

  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    border: none;
  }
}