.App {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

header {
  background-color: #6096BA;
  padding: 15px 30px 15px 30px;
}

main {
  flex-grow: 1;
  padding: 20px 30px;
  background-color: #E7ECEF;
}

footer {
  background-color: #6096BA;
  height: 87px;
}

.navLink {
  text-decoration: none;
}