.App {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: #6096BA;
  padding: 15px 30px 15px 30px;
}

main {
  padding: 20px 30px;
  background-color: #E7ECEF;
  min-height: 85vh;
}

footer {
  background-color: #6096BA;
  height: 87px;
}

.navLink {
  text-decoration: none;
}