.addInfo {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid black;
}

.addInfoTitle {
  margin-top: 0;
  margin-bottom: 0;
}

.addInfoList {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  color: #1976d2;
}

.cast {
  margin-right: 20px;
}