
.actorsList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.actorsImage {
  width: 100%;
}

.actorCard {
  margin: 15px;
  width: calc((100% - 180px) / 6);
}

.charName {
  text-align: center;
  margin-bottom: 0;
}

.actorName {
  margin-top: 5px;
  text-align: center;
}

