.errorPage__text {
  text-align: center;
  font-size: 1.6rem;
}

.errorPage_error {
  color: #ffffff;
  font-size: 11rem;
  margin: 0;
  text-align: center;
}

.errorPage_link {
  text-decoration: none;
  color: white;

  &:hover {
    text-decoration: underline;
  }
}