.actor-page {
  display: flex;
  padding-bottom: 22px;
  border-bottom: 1px solid black;
  
  &__poster {
    width: 375px;
    margin-right: 50px;
  }

  &__personal-information {
    display: flex;
    flex-direction: column;
    padding-right: 30px;

    & :is(p, h1) {
      margin-bottom: 0;
    }
  }

  &__bio {
    text-align: justify;
  }
}

.actor-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding-top: 30px;

  &__image {
    display: block;
    width: 100%;
  }
}
