.home {
  padding: 20px 30px;
  background-color: #E7ECEF;
}

.title {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.poster {
  width: 220px;
}

.filmsList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.filmName {
  text-align: center;
  margin: 10px 0 0 0;
}

.listItem {
  padding: 15px;
  width: calc((100% - 150px) / 5);
}
.listItem:hover {
  background-color: #274C77;
}
.listItem:hover .movieLink {
  color: #FFFF;
}


.movieLink {
  text-decoration: none;
  color: black;
}
/* .movieLink:hover {
  color: #FFFF;
} */

