.App {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.navLink {
  text-decoration: none;
}

header {
  border-bottom: 1px solid black;
}

hr {
  margin: 0;
}

ul {
  padding-left: 20px;
}

