@import './pages/home-page';
@import './pages/error-page';
@import './components/mainInfo';
@import './components/additionalInfo';
@import './components/cast';
@import './components/error-message';
@import './components/footer';
@import './components/shared';


body {
  margin: 0;
  background-color: #274C77;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

