@import './pages/home-page';
@import './pages/error-page';
@import './pages/personal-page';
@import './components/mainInfo';
@import './components/cast';
@import './components/reviews';
@import './components/error-message';
@import './components/shared';
@import './components/search-box';


body {
  margin: 0;
  background-color: #274C77;
  font-family: Roboto, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

