html,
body,
div,
span,
applet,
object,
iframe,
// h1,
// h2,
h3,
h4,
h5,
h6,
// p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
caption,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
img {
  border: 0;
  vertical-align: middle;
}
div {
  box-sizing: border-box;
}
blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

a:focus {
  outline: 0;
  text-decoration: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}
button {
  padding: 0;
}
button:focus {
  outline: none;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-family: 'Inter', sans-serif;
}
body {
  font-family: 'Inter', sans-serif;
  color: #101828;
  background-color: #fff;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}